{% extends 'base.html' %}

{% block content %}
{{ super() }}
<h2>Общие сведения о работе сайта.</h2>
<p style="white-space: pre-wrap;" >    На странице данного сайта можно запросить информацию о стоимости акции "Лукойл" (LKOH).
База данных собрана за перид с 14.09.2025 по 19.09.2025. Запросить данные можно двумя способами:
поучить данные на запрашиваемое время, получить данные за период времении.<p>

<h2>Получение данных на запрашиваемое время.</h2>

<p style="white-space: pre-wrap;" >    Для выполнения запроса необходимо перейти по ссылке "Получение данных на указанное время".
На открывшейся странице в поле "Дата и время" ввести интересующую дату и время (с точностью
до минуты), а затем нажать на кнопку "Запросить данные". Результатом действий станет вывод
сведений содержащих точные значения соответствующие запросу при условии наличия их в базе,
либо будут выведены ближайшие значения с отклонением в две минуты от запрошенного.<p>

<h2>Получение данных за указанный период.</h2>
<p style="white-space: pre-wrap;" >    Для выполнения запроса необходимо перейти по ссылке "Получение данных за указанный период".
На открывшейся странице в поле "Начало периода" ввести интересующую дату и время (с точностью
до минуты), в поле "Конец периода" ввести интересующую дату и время, а затем нажать на кнопку
"Запросить данные". Результатом действий станет вывод сведений содержащих  значения соответствующие
запросу. Вывод сведений ограничен 10 значениями за раз. В случае если результат запроса содержит
более 10 значений для продолжения просмотра воспользуйтесь ссылками навигации находящимися под
результатами.<p>
{% endblock %}
