{% extends 'base.html' %}

{% block content %}
{{ super() }}
<h3>Введите интересующую дату и время в формате 17.09.2025 08:15</h3>
<form action="/time" method="post" >
<p><label>Дата и время:</label> <input type="text" name="date1" value="" />
<p><input type="submit" value="Запросить данные" />

{% if result =='' %}
        <h2></h2>
{% else %}
         <h2>Запрошенные данные</h2>
{% endif %}

{% for msg in get_flashed_messages() %}
<div class="flash">{{msg}}</div>
{% endfor %}
 <table>
 {{ result | safe }}
</table>
</form>

{% endblock %}